[programs.localnet]
squads_mpl = "PROGRAM_ID_HERE"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "PATH_TWO_CLI_WALLET_HERE"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
