anchor_version = "0.25.0"

[programs.localnet]
squads-mpl = "84Ue9gKQUsStFJQCNQpsqvbceo7fKYSSCCMXxMZ5PkiW"
program-manager = "8Y5Qbdb67Ka4LcPCziyhLrGbYN2ftZ1BG11Q5PiHenLP"

[programs.mainnet]
squads-mpl = "SMPLecH534NA9acpos4G6x7uf3LWbCAwZQE9e8ZekMu"
program-manager = "SMPLKTQhrgo22hFCVq2VGX1KAktTWjeizkhrdB1eauK"

[registry]
url = "https://anchor.projectserum.com"

[provider]
cluster = "localnet"
wallet = "PATH_TO_CLI_WALLET_HERE"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
